@{
    ViewBag.Title = "Đặt Tour Thành Công";
    Layout = "~/Views/Shared/layout.cshtml";
}


<div style=" background-image: url('/Data/Image/success.jpg'); min-height:50em; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"></div>

