
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/Admin/assets/css/dangnhap.css" rel="stylesheet" />
    <title>Đăng Nhập</title>
</head>
<body>
    <div class="form-tt">
        <h2>ĐĂNG NHẬP</h2>
        <form method="post">
            <input type="text" name="tenDangNhap" placeholder="Nhập tên đăng nhập" />
            <input type="password" name="matKhau" placeholder="Nhập mật khẩu" />
            <p style="color:red; text-align:left;">
                @ViewBag.thongbao
            </p><br />
            <input type="checkbox" id="checkbox" name="checkbox"><label class="checkbox-text">Nhớ đăng nhập lần sau</label>
            <input type="submit" name="submit" value="ĐĂNG NHẬP" />
            <label class="psw-text"><a href="/TaiKhoanHome/QuenMatKhau" class="quenmk">Quên mật khẩu</a>&nbsp&nbsp&nbsp</label>
            <label class="psw-text"><a href="/TaiKhoanHome/DangKy" class="dangky">Đăng ký</a>&nbsp&nbsp&nbsp</label>
            <label class="psw-text"><a href="/Home" class="dangky" style="color:snow">Trang chủ</a></label>
        </form>
    </div>
</body>
</html>