

.menu {
    margin: 30px 0 0 35px;
    display:inline-block;
    color:white;
}
    .menu ul li:hover ul {
        z-index:99999;
        display: block;
        cursor:pointer;
    }
    .menu ul li ul {
        position: absolute;
        top: 20px;
        width:150px;
        left: 0px;
        display:none;
    }
        .menu ul li ul li {
            text-align: center;
            display: block;
            background: #31124b;
        }
